.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Comic Neue";
  src: url("ComicNeue-Bold.woff") format("woff");
}

.byline {
  font-family: "Comic Neue";
}

.logo-small {
  font-family: "Comic Neue";
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  font-weight: bold;
}

.logo {
  font-family: "Comic Neue";
  font-size: 4.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.product-image {
  vertical-align: middle;
  border-radius: 15%;
  margin: auto;
  display: block;
  width: 300px;
  height: 300px;
}

.book-cover {
  background-image: url("book_cover.jpg");
  background-size: cover;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.author-image {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container {
  max-width: 960px;
}


.site-header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.nav-text {
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}


